[submodule "HFT Linux Kernel Utilities"]
	path = HFT Linux Kernel Utilities
	url = git@github.com:mtompkins/linux-kernel-utilities.git
[submodule "Matlab/External Libraries/matlab-ParforProgress2"]
	path = Matlab/External Libraries/matlab-ParforProgress2
	url = https://github.com/kotowicz/matlab-ParforProgress2.git
[submodule "Matlab/External Libraries and Functions/matlab-ParforProgress2"]
	path = Matlab/External Libraries and Functions/matlab-ParforProgress2
	url = https://github.com/kotowicz/matlab-ParforProgress2.git
[submodule "C++/External Libraries and Functions/ta-lib"]
	path = C++/External Libraries and Functions/ta-lib
	url = git@github.com:mtompkins/ta-lib-mirror.git
[submodule "Matlab/External Libraries and Functions/mlmechtrade-lib"]
	path = Matlab/External Libraries and Functions/mlmechtrade-lib
	url = git@github.com:mtompkins/mlmechtrade-mirror.git
