[submodule "MultiCharts/C++ DLLs/mcfunctions"]
	path = MultiCharts/C++ DLLs/mcfunctions
	url = https://mtompkins@bitbucket.org/mtompkins/mcfunctions.git
[submodule "HFT Linux Kernel Utilities"]
	path = HFT Linux Kernel Utilities
	url = git@github.com:mtompkins/linux-kernel-utilities.git
[submodule "Matlab/External Libraries/matlab-ParforProgress2"]
	path = Matlab/External Libraries/matlab-ParforProgress2
	url = https://github.com/kotowicz/matlab-ParforProgress2.git
[submodule "Matlab/External Libraries and Functions/matlab-ParforProgress2"]
	path = Matlab/External Libraries and Functions/matlab-ParforProgress2
	url = https://github.com/kotowicz/matlab-ParforProgress2.git
